<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
<!--<div class="button-row">
  <button routerLink="/members" mat-raised-button color="primary">List</button>
  <button routerLink="/create" mat-raised-button color="accent">Form</button>
</div>-->
<app-layout></app-layout>
<router-outlet></router-outlet>


<!-- <app-members></app-members>-->
</body>

</html>
