<p>Create New Member</p>
<form [formGroup]="form" (ngSubmit)="ONSUB()">
  <p>
    <mat-form-field appearance="legacy">
      <input matInput placeholder="cin" formControlName="cin">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <input matInput placeholder="name" formControlName="name">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <input matInput placeholder="cv" formControlName="cv">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <input matInput placeholder="type" formControlName="type">
    </mat-form-field>
  </p>
  <button mat-raised-button color="primary" type="submit">Submit</button>

</form>
